* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Verdana', sans-serif;
}

body {
    background-color: #3e4359;
    font-size: 18px;
}

h1, h3, span {
    margin: auto;
    text-align: center;
    color: #b8c2d9;
}

h1 {
    margin: 20px 20px 0 20px;
    padding: 10px;
}

.container {
    border: 2px solid;
    width: 90%;
    max-width: 948px;
    text-align: center;
}

#main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    padding: 15px;
    border-style: none;
    /* width: 80%; */
}

/* Options Menu */
#main-container #options {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.5%;
    padding: 2.5%;
    gap: 10px;
    border-style: none;
    /* height: 200px;
    width: 150px; */
}

#main-container #options #color-container {
    padding: 4.5%;
    margin: 2.5%;
    width: 110%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2F3362;
}

#main-container #options #color-container input {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    border-radius: 50%;
}

#main-container #options #color-container input[type="color"]::-webkit-color-swatch {
    border-radius: 50%;
    border-color: #AFADB6;
}

#main-container #options #pen-container, #clear-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 4.5%;
    margin: 2.5%;
    gap: 3%;
    width: 110%;
    height: 100%;
    background-color: #2F3362;
}

#main-container #options #pen-container button {
    background-color: #AFADB6;
    color: #2F3362;
    cursor: pointer;
    border-color: #2F3362;
    border-style: solid;
    margin: 3px;
    padding: 5px;
}

#main-container #options #pen-container button[value="ON"], button:active {
    background-color: #2F3362;
    color: #AFADB6;
    cursor: pointer;
    border-color: #2F3362;
    border-style: solid;
    padding: 2px;
}

#main-container #options #clear-container button {
    background-color: #AFADB6;
    color: #2F3362;
    cursor: pointer;
    border-color: #2F3362;
    border-style: solid;
    padding: 2px;
}

#main-container #options #clear-container button:active {
    background-color: #2F3362;
    color: #AFADB6;
    cursor: pointer;
    border-color: #2F3362;
    border-style: solid;
    padding: 2px;
}

#main-container #options #range {
    padding: 4.5%;
    margin: 2.5%;
    background-color: #2F3362;
    width: 110%;
    height: 100%;
}

#main-container #options #range #field input[id="slider"] {
    width: 150px;
}

/* Grid Container */
#main-container #grid-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 15px;
    width: 75%;
    height: 75%; 
    background-color: #2F3362;
}

#main-container #grid-container .row .square {
    /* border-style: solid;
    border-width: 0.25px;
    border-color: black;
    background-color: white; */
    cursor: pointer;
}
